.banner{
	max-width: 100%;
	position: relative;
	bottom: 30px;
	z-index: -1;
}

.banner img{
	width: 100%;
}

.reviewlist{
	width: 80%;
	margin: 0 auto;
}

.decorated{
     overflow: hidden;
     text-align: center;
 }

.decorated > span{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
	font-family: 'Merriweather', serif;
	color: #000;
	text-align: center;
	font-size: 30px;
}

.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid;
    width: 400px;
    margin: 0 20px;
}

.decorated > span:before{
    right: 100%;
}

.decorated > span:after{
    left: 100%;
}

.reviews{
	margin: 30px 0;
	width: 100%;
	height: 1080px;
}

.review{
	width: 100%;
	height: 220px;
	margin: 30px 0;
	display: flex;
}

.review .image{
	margin: auto;
	flex: 3.5;
}

.review .description{
	margin: auto;
	padding:20px;
	flex: 6	;
}

.review .description a{
	text-decoration: none;
}

.review .image img{
	width: 100%;		
}

.review .image img:hover{
	color: #000;
	opacity: 0.8;
	transition: 1s;
}

.review-title {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #000;
	line-height: 30px;
}

.category{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: red;
	line-height: 20px;
}

.author-date{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#666;
	line-height: 30px;
}

.desc{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 20px;
}

.top{
  text-align: center;
}

.top a{
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 20px;
  margin-bottom: 24px;
}

.top a:hover{
  transition: 0.5s;
  background-color: #222;
  color: white;
}